h1{
    color: white;
}

.foodInput{
    padding: 15px 20px 15px 20px;
    margin: 0px !important;
    margin-right: 10px !important;
    width: 40vh !important ;
    height: 50px !important;
    font-family: Lato;
    color: #FFF;
    border: none;
    outline: none;
    border-radius: 15px 0px 15px 0px;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    transition: 0.2s ease-out;    
}

input:focus{
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px  rgba(255, 255, 255, 0.4) solid;

}

button{
    width: 100px;
    font-size: 20px;
    font-weight: 300;
    margin: 10px 20px 10px 20px ;
    padding: 10px 5px 10px 5px;
    border:none;
    outline: none;
    border-radius: 5px 5px 5px 5px;
    background-color: rgba(255, 255, 255, 0.1);  
    font-family: Lato;
}
.btn{
    height:34vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


.resList{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 55vh !important;
    width:100%;
    color: white;
}