.Text-Text{
    font-size: medium;
    display: flex;
    width:50vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:25px 80px 30px 80px;
    margin-bottom: 5px;
    margin-left: 10vw;
    margin-right: 10vw;
    color: #FFF;
    border-radius: 9px 9px 9px 9px;
    backdrop-filter: blur(10px);
    border:1px rgba(255, 255, 255, 0.1) solid;
    background-color:hsla(0,0%,100%,0.1);
}
a{
    font-size:x-large;
    color:white
}
.output{
    height: 18vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wish{
    width: auto;
    height: auto;
}