footer{
    background-color: hsla(0,0%,100%,0.1);
    backdrop-filter: blur(5px);
    color:rgba(255, 255, 255, 0.6);
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    padding:5px 8px;
    position: fixed;
  width: 100vw;
}
footer>a>i{
    text-decoration: none;
    color:rgba(255, 255, 255, 0.6);
}