.history{
    display: flex;
    flex-direction: column;
    height: 76vh;
    width:100%;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center !important;
    color: rgba(255, 255, 255, 0.6);
    font-family: "Montserrat";
    font-size: medium;   
}
tr{
    padding-left: 100px;
    width:90%;
    margin: 10px;
}
h1{
    width: 100%;
}
td{
    font-family: "Montserrat";
    font-size: 20px;
}
.name{
    padding-right: 10px !important;
}
.date{
    position: relative;
}
tr:hover{
    background-color: rgba(255, 255, 255, 0.1);
}