.know-your-city{
    display:flex !important;
    height: 100% !important;
    flex-direction: row;

}

.details{
    margin-top: 50px;
    padding-left: 40px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid white;
    color:white;
    background-color: rgba(255,255,255,0.1);
    border-radius: 3px;
    margin: 0px 10px 0px 10px;
    width: 25vw;
    font-family: "Montserrat" !important;
}

.city-restaurants{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
    border:1px solid white;
    width: 60vw;
    font-family: "Montserrat";

}
h3{
    color: white;
    font-family: "Montserrat";
}
.top-res{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 62vh;
    width:100%;
    color: white;
    font-family: "Montserrat";
}

.anticon[tabindex] {
    font-size: 30px;
}